.git
.gitignore

__pycache__/
*.py[cod]
.idea/
.ipynb_checkpoints
*/env*
*/venv*
*.env
*.log

model-package/classification_model/output/
bin/
model-package/dist/
model-package/build/
titanic-survivor-app/logs/
jupyter_notebooks*
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

pip-log.txt
pip-delete-this-directory.txt

.pytest_cache/
.coverage
.cache
nosetests.xml
coverage.xml