__pycache__/
*.py[cod]
.idea/
.ipynb_checkpoints
venv/

model-package/classification_model/output/
bin/
model-package/dist/
model-package/build/
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

pip-log.txt
pip-delete-this-directory.txt

.pytest_cache/
.coverage
.cache
nosetests.xml
coverage.xml