__pycache__/
*.py[cod]
.idea/
.ipynb_checkpoints
venv/

bin/
dist/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

pip-log.txt
pip-delete-this-directory.txt

.tox/
.coverage
.cache
nosetests.xml
coverage.xml